:root
{ 
    --primary: #5e87f9;
    --secondary: rgb(252, 92, 92);
    --tertiary: rgba(224, 224, 224, 0.374)
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.card
{
    border-radius: 20px !important;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px !important;
}


main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 2rem;
}

.primary
{
    background-image: linear-gradient(147deg, #5e87f9 0%, #6751ae 45%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}


.Clear
{
    background-image: linear-gradient(147deg, #d3ecfa 20%, #7dc3e9 45%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}


.Clouds
{
    background-image: linear-gradient(147deg, #595b60 0%, #88dcfd 55%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}


.Rain
{
    background-image: linear-gradient(147deg, #2a2a2b 20%, #081a7b 45%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}


.Drizzle
{
    background-image: linear-gradient(147deg, #5e87f9 0%, #6751ae 45%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}


.Thunderstorm
{
    background-image: linear-gradient(147deg, #5e87f9 0%, #6751ae 45%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}


.Snow
{
    background-image: linear-gradient(147deg, #5e87f9 0%, #6751ae 45%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.header
{
    padding: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.503);
}


.search
{
    padding: 1.5rem;
    width: 90vw !important;
}

.search 
{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.mine-button
{
    background-color: var(--tertiary);
    transition: .3s ease-in-out;
}

.mine-button:hover
{
    background-color: rgba(179, 179, 179, 0.485);
}

.search-button
{
    background-color: var(--primary);
    color: white;
    transition: .3s ease-in-out;
}

.search-button:hover
{
    background-color: #486cce;
    color: white;
    transform: translateY(-4px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.info-top
{
    display: flex;
    width: 90vw;
    padding: 1rem;
}


.info-lugar
{
    position: relative;
}
.addFav
{
    border: 2px solid var(--secondary);
    color: var(--secondary);
    position: absolute;
    right: 1rem;
    transition: .3s ease-in-out;
}

.addFav-text
{
    display: none;
}

.fav-name:hover
{
    cursor: pointer;
}

.addFav:hover
{
    background-color: var(--secondary);
    color: white;
}


.info-data
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-data span
{
    font-size: 80px;
}

.info-data div
{
    padding-top: 10px;
    text-align: center;
}

.info-data div h1
{
    font-size: 50px;
    color: var(--primary);
}

.info-detalles
{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .7rem;
    padding-top: 3rem;
}


.info-detalles .c-card
{
    background-color: var(--tertiary);
    padding: .6rem;
    border-radius: 10px;
}

.forecast
{
    width: 90vw;
    padding: 1rem;
}

.forecast-container {
  display: flex;             
  gap: 1rem;                 
  overflow-x: auto;          
  padding: 1rem;
  scroll-snap-type: x mandatory; 
}

.forecast-container div
{
    flex: 0 0 18.8%;       /* Ocupa todo el ancho del contenedor */
    scroll-snap-align: start; /* Alineación al inicio para snap */
    box-sizing: border-box;  
}

.day {
  display: flex;
  align-items: center;
  justify-items: center;
  color: black;
  background-color: var(--tertiary);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  flex-direction: column;      
  flex: 0 0 auto;            
  background-color: white !;
  border-radius: 10px;
  padding: 1rem;
  scroll-snap-align: start;   
  transition: .3s ease-in-out;
}

.day-data
{
    
}

.day:hover
{
    background-color: rgba(196, 195, 195, 0.416);
}
.day-emoji
{
    font-size: 50px;
}


.content-favs
{
    margin-top: 1rem;
    padding: 1rem;
    gap: .6rem;
}
.fav
{
    background-color: var(--tertiary);
    padding: .5rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    transition: .25s ease-in-out;
}

.fav:hover
{
    transform: translateX(6px);
    background-color: rgba(196, 195, 195, 0.416);
}

.fav button
{
    color: rgb(137, 135, 135);
    right: .6rem;
}
.fav button:hover
{
    background-color: var(--secondary);
    color: white;
}


.autocomplete-container {
  position: relative;
  width: 300px; 
  font-family: Arial, sans-serif;
}

#city {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

#suggestions {
  position: absolute;
  top: 35%; 
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none; 
  border-radius: 0 0 8px 8px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 100;
}

#suggestions li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background 0.2s;
}

#suggestions li:hover {
  background: #f0f0f0;
}


.addFavbtn:disabled
{
    background-color: red !important;
}

 /* Contenedor de los toasts */
.toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* espacio entre toasts */
    z-index: 9999;
}

/* Toast individual */
.toast-custom {
    position: relative;
    background-color: #ffffff; /* color de fondo */
    color: #000000;            /* color de texto */
    padding: 15px 20px;
    border-radius: 8px;
    min-width: 250px;
    max-width: 350px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    opacity: 0;             /* inicialmente invisible */
    transform: translateX(100%); /* fuera de pantalla */
    transition: all 0.5s ease;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

/* Mostrar el toast */
.toast-custom.show {
    opacity: 1;
    transform: translateX(0);
}

/* Botón de cierre */
.toast-custom .close-btn {
    position: absolute;
    top: 5px;
    right: 8px;
    background: none;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

#spinner
{
    display: none;
}

@media (min-width: 1024px)
{




.search
{
    padding: 1.5rem;
    width: 79vw !important;
}

.search
{
    display: flex;
    flex-direction: row;
    gap: .5rem;
}


.mine-button
{
    background-color: var(--tertiary);
}

.search-button
{
    background-color: var(--primary);
    color: white;
}

.content
{
    display: flex;
    padding-top: 1rem;
    width: 80vw;
}

.content-info 
{
    margin-right: 2rem;
    padding: 1.5rem;
}

.info-top
{
    display: flex;
    width: 51vw;

}


.addFav
{
    display: flex;
    border: 2px solid var(--secondary);
    color: var(--secondary);
    position: absolute;
    right: 1.5rem;
}

.addFav-text
{
    display: block;
}



.addFav:hover
{
    background-color: var(--secondary);
    color: white;
}


.info-data
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.info-data span
{
    font-size: 140px;
}

.info-data div
{
    text-align: center;
    padding-top: 10px;
    padding-left: 20px;
    text-align: center;
}

.info-data div h1
{
    font-size: 80px;
    color: var(--primary);
}
.info-data div h5
{
    text-transform: capitalize;
    font-weight: 400;
}

.info-detalles
{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: .7rem;
    padding-top: 2rem;
}


.info-detalles .c-card
{
    background-color: var(--tertiary);
    padding: .6rem;
    border-radius: 10px;
    text-align: center;
    width: 30%;
}

.forecast
{
    width: 90vw;
    padding: 1rem;
    margin-top: 1rem;
}


.day { 
  padding: 1rem 2rem;   
}



.day-emoji
{
    font-size: 50px;
}


.content-favs
{
    margin-top: 0rem;
    padding: 1rem;
    gap: .6rem;
    width: 350px;
}

.content-favs h1
{
    font-size: 20px;
    padding-top: 1rem;
}

.forecast
{
    width: 79vw;
}


#suggestions {
  top: 100%; 
}

.forecast h2
{
    margin-left: 12px;
}

.autocomplete-container {
  display: flex;
  flex-direction: row;
  max-height: 100px;
  gap: .8rem;
}

.autocomplete-container input
{
    width: 55vw !important;
}

.autocomplete-container .search-button
{
    width: 120px !important;
}

.autocomplete-container .mine-button
{
    height: 45px;
    margin: 0px !important;
    paddign: 0px !important;
}
 
}
 